body { text-align: center; font-family: Arial, sans-serif; padding: 20px; background: #f5f5f5; }
h1 { color: #333; }
.cart-item {
    width: 20rem;
    text-align: center;
    align-items: center;
    gap: 15px;
    padding: 30px;
    background: #fff;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.card{
  display: flex;
  flex-direction: row;  
  flex-wrap: wrap;      
  justify-content: center;
  align-items: flex-start;
  gap: 20px
}
.cart-item img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}
.cart-item strong {
    font-size: 18px;
}
.cart-item p {
    margin: 5px 0;
    color: #009688;
    font-weight: bold;
}
.cart-item button {
    margin-top: 5px;
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}
.buy-btn { background-color: #28a745; }
.status-btn { background-color: #007bff; }
.remove-btn { background-color: #dc3545; }